{% extends 'layout.html.twig' %}

{% block title %}
	Week from
	{{ dates[1]|date('d/m/Y') }}
	to
	{{ dates[7]|date('d/m/Y') }}
{% endblock title %}

{% block content %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				{% for date in dates %}
					<th>
						{{ date|date('D d') }}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for name,deliveries in amounts %}
				<tr>
					<td>{{ name }}</td>
					{% for amount in deliveries %}
						<td>
							{{ amount }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}
