{% extends 'base.html.twig' %}

{% block title %}Delivery index{% endblock %}

{% block body %}
    <h1>Delivery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Amount</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.day ? delivery.day|date('Y-m-d') : '' }}</td>
                <td>{{ delivery.amount }}</td>
                <td>{{ delivery.id }}</td>
                <td>
                    <a href="{{ path('delivery_show', {'id': delivery.id}) }}">show</a>
                    <a href="{{ path('delivery_edit', {'id': delivery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('delivery_new') }}">Create new</a>
{% endblock %}
