{% block first_bar_container %}
	<div class="list-group">
		<a href="{{ path('homepage') }}" class="list-group-item list-group-item-action">
			Accueil
		</a>
		{% if app.user %}
			<a href="{{ path('profile_show') }}" class="list-group-item list-group-item-action">
				Profile de "{{ app.user.username }}"
			</a>
			<a href="{{ path('security_logout') }}" class=" list-group-item list-group-item-action">
				Déconnexion
			</a>
			<a href="{{ path('supplier_index') }}" class="list-group-item list-group-item-action">
				Fournisseurs
			</a>
			<a href="{{ path('stat_week') }}" class="list-group-item list-group-item-action">
				Stat hebdomadaire
			</a>

		{% else %}
			<a href="{{ path('security_login') }}" class="list-group-item list-group-item-action">
				Connexion
			</a>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('user_index') }}" class="list-group-item list-group-item-action">
				Utilisateurs
			</a>
		{% endif %}
	</div>
{% endblock first_bar_container %}
