{% extends 'layout.html.twig' %}

{% block title %}
	Example index
{% endblock %}
{% block content %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Col1</th>
				<th>Col2</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in data.entities %}
				<tr>
					<td>{{ entity.id }}</td>
					<td>{{ entity.col1 }}</td>
					<td>{{ entity.col2 }}</td>
					<td>
						<a class="btn btn-primary btn-sm" href="{{ path('example_show', {'id': entity.id}) }}" role=" button">show</a>
						<a class="btn btn-primary btn-sm" href="{{ path('example_edit', {'id': entity.id}) }}" role=" button">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
		<thead>
			<tr>
				<th colspan="3"></th>
				<th>
					<a class="btn btn-primary btn-sm" href="{{ path('example_new') }}" role=" button">New</a>
				</th>
			</tr>
		</thead>
	</table>
{% endblock %}
